.nickname {
  background: rgba(58, 64, 74, 0.651);
  padding: 5px !important;
  position: absolute;
  z-index: 999;
  color: #ffffff;
  top: 6.3rem;
  left: 5rem;
}
.form-control {
  color: #ffffff;
}

.pointer {
  cursor: pointer;
}

#closeButton {
  position: absolute;
  top: -3px;
  right: 0;
  z-index: 999;
}

#name-error-text {
  color: #fd6d5f;
  font-weight: bold;
  text-align: center;
}

#nicknameForm {
  padding: 10px;
}
.fullscreen {
  top: 40px;
}

.streamComponent {
  height: 100%;
}

.videoBox {
  background: url('assets/images/Presentation/채팅액자.png') no-repeat;
  width: 48rem;
  height: 45rem;
  position: relative;
  top: 1rem;
  left: 5rem;
}

video {
  position: relative;
  object-fit: cover;
  width: 48rem;
  height: 31.5rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  top: 5.2rem;
}

#statusIcons {
  position: relative;
  bottom: 0;
  background: #c71100;
  width: 50px;
  height: fit-content;
  position: absolute;
  color: #ffffff;
}

#camIcon,
#micIcon {
  text-align: center;
  padding: 6px;
}

#fullscreenButton {
  position: absolute;
  bottom: 1px;
  right: 1px;
  z-index: 1000;
  background-color: #000000c4;
}
#volumeButton {
  background-color: #000000c4;
  position: absolute;
  bottom: 45px;
  right: 1px;
  z-index: 1000;
  color: #ffffff;
}
.OT_widget-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#input,
#label {
  color: white;
}
